/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: white;
  --color-indigo-transparent: rgba(0, 41, 44, 0.59);
  --color-indigo-x-light: #aee5eb;
  --color-indigo-x-light-transparent: #aee5eb41;
  --color-indigo: #008b96;
  --color-indigo: #008b96;
  --color-orange: #ff3f00;
  --color-black: #151819;
  --color-grey-transparent: rgba(70, 117, 121, 0.5);
  --color-grey-x-transparent: rgba(70, 117, 121, 0.2);
}

/* semantic color variables for this project */
:root {
  --color-card: var(--color-white);
  --color-background: var(--color-indigo-x-light);
  --color-border: var(--color-grey-transparent);
  --color-heading: var(--color-indigo-transparent);
  --color-button: var(--color-indigo);
  --color-button-destroy: var(--color-orange);
  --color-label: var(--color-orange);
  --color-text: var(--color-black);
  --color-text-inverted: var(--color-white);
  --color-shadow-light: var(--color-grey-x-transparent);
  --color-shadow-dark: var(--color-grey-transparent);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: RobotoMono-Regular;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: TheWantersDEMO;
  color: var(--color-heading);
  text-transform: capitalize;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

button {
  background: var(--color-button);
  border: none;
  color: white;
  font-family: RobotoMono-Regular;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding: 0.1rem 1rem;
  font-size: 15px;
  cursor: pointer;
  transition: filter 0.2s linear;
}

button.destroy {
  background: var(--color-button-destroy);
}

button:hover {
  filter: brightness(80%);
}
