/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: white;
  /* 
  --color-primary-dark: #005258;
  --color-primary-transparent: rgba(0, 41, 44, 0.59);
  --color-primary-x-light: #aee5eb;
  --color-primary-x-light-transparent: #aee5eb41;
  --color-primary: #008b96;
  --color-secondary: #ff3f00;
  --color-secondary-dark: #c73200;
  --color-secondary-x-light: #fff3ef; */
  --color-primary-dark: #0033ab;
  --color-primary-transparent: #0033ab;
  --color-primary-x-light: #98b8ff;
  --color-primary-x-light-transparent: #0033ab6e;
  --color-primary: #0033ab;
  --color-secondary: #f36a00;
  --color-secondary-dark: #db4302;
  --color-secondary-x-light: #f36a00;
  --color-black: #151819;
  --color-grey-transparent: rgba(70, 117, 121, 0.5);
  --color-grey-x-transparent: rgba(70, 117, 121, 0.2);
}

/* semantic color variables for this project */
:root {
  --color-card: var(--color-white);
  --color-background: var(--color-primary-x-light);
  --color-border: var(--color-grey-transparent);
  --color-heading: var(--color-primary-transparent);
  --color-button: var(--color-primary);
  --color-button-destructive: var(--color-secondary);
  --color-label: var(--color-secondary);
  --color-text: var(--color-black);
  --color-text-inverted: var(--color-white);
  --color-shadow-light: var(--color-grey-x-transparent);
  --color-shadow-dark: var(--color-grey-transparent);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: RobotoMono-Regular;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: TheWantersDEMO;
  color: var(--color-heading);
  text-transform: capitalize;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 1.2rem 0;
}

li h2 {
  margin: 0;
}

p {
  margin: 1rem 0 2rem 0;
}

button {
  background: var(--color-button);
  border: none !important;
  box-shadow: var(--color-secondary) -3px 3px 0px 0px;
  border-style: solid solid none none;
  color: white;
  font-family: RobotoMono-Regular;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding: 0.7rem 1rem;
  font-size: 15px;
  cursor: pointer;
  transition: filter 0.2s linear;
  min-width: 10rem;
}

button.destructive {
  background: var(--color-button-destructive);
  box-shadow: var(--color-secondary-dark) -3px 3px 0px 0px;
}

button:hover {
  filter: brightness(80%);
}

label {
  font-family: RobotoMono-Regular;
  color: var(--color-label);
  letter-spacing: 2px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.title-button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100%;
  padding: 1rem 0;
  max-width: 60rem;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-device-width: 480px) {
  .title-button-group {
    flex-direction: row;
    align-items: center;
  }
  main {
    padding: 2rem;
  }
  .buttons-group-wrapper {
    flex-direction: row;
    align-items: center;
  }
}

.buttons-group-wrapper {
  display: flex;
  flex-direction: column;
}

.buttons-group-wrapper button {
  margin: 1rem 1rem 0 0;
}
